

div{
    border: 1px solid;
}

.tveir_dalkar{
    display: grid;
    grid-template-columns: 2fr 2fr;
}


.þrír_dalkar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.fjórir_dalkar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}