
body {
    background-color: rgb(63,63,63);
}

.patrikjaja{
    color: rgb(20, 218, 96);
}

p {
    font-family: verdana;
    font-size: 20px;
}

.tveir_dalkar{
    display: grid;
    grid-template-columns: ;
}