@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body{
    background-color:#9B9FA6;
    border:none;
    font-family: 'Playfair Display', serif;
}

    .valmynd{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "a"
    "b"
    "c"
    "d";
    }
    .dalkar_2{
    display: grid;
    grid-template-columns: 1fr;
    }
    
    .box{
    grid-gap: 10px;
    border-radius: 10px;
    }
    
    div{
    padding: 10px;
    margin: 5px;
    
    }
    .wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "a"
    "b"
    "c"
    "d";
    grid-gap: 5px;
    }
    .rapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "e"
    "f"
    "g";
    }
    .scrapper{
    display: grid;
    grid-template-columns:1fr;
    grid-template-areas:
    "h"
    "j"
    "k"
    "l";
    grid-gap: 5px;
    }
    .a{
    grid-area: a;
    background: grey;
    }
    
    .b{
    grid-area: b;
    background: grey;
    }
    .c{
    grid-area: c;
    background: grey;
    }
    .d{
    grid-area: d;
    background: grey;
    }
    .e{
    grid-area: e;
    background: grey;
    }
    .f{
    grid-area: f;
    background: grey;
    }
    .g{
    grid-area: g;
    background: grey;
    }
    .h{
    grid-area: h;
    background: grey;
    }
    .j{
    grid-area: j;
    background: grey;
    }
    .k{
    grid-area: k;
    background: grey;
    }
    .l{
    grid-area: l;
    background: grey;
    }
    
    @media screen and (min-width:450px) {
    .dalkar_2{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .rapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "e f"
    "g g";
    grid-gap: 5px;
    }
    .scrapper{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "h j"
    "k l";
    grid-gap: 5px;
    }
    
    
    .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "a a b b"
    "c c d d";
    grid-gap: 5px;
    }
    .a{
    grid-area: a;
    background: grey;
    }
    
    .b{
    grid-area: b;
    background: grey;
    }
    .c{
    grid-area: c;
    background: grey;
    }
    .d{
    grid-area: d;
    background: grey;
    }
    .e{
    grid-area: e;
    background: grey;
    }
    .f{
    grid-area: f;
    background: grey;
    }
    .g{
    grid-area: g;
    background: grey;
    }
    .h{
    grid-area: h;
    background: grey;
    }
    .j{
    grid-area: j;
    background: grey;
    }
    .k{
    grid-area: k;
    background: grey;
    }
    .l{
    grid-area: l;
    background: grey;
    }
    }
    
    @media screen and (min-width:1000px) {
    
    .rapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "e f g";
    grid-gap: 5px;
    }
    .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "a b c d";
    grid-gap: 5px;
    }
    .scrapper{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-areas:
    "h j"
    "k l";
    grid-gap: 5px;
    }
    .valmynd{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    }
    .a{
    grid-area: a;
    background: grey;
    }
    
    .b{
    grid-area: b;
    background: grey;
    }
    .c{
    grid-area: c;
    background: grey;
    }
    .d{
    grid-area: d;
    background: grey;
    }
    .e{
    grid-area: e;
    background: grey;
    }
    .f{
    grid-area: f;
    background: grey;
    }
    .g{
    grid-area: g;
    background: grey;
    }
    .h{
    grid-area: h;
    background: grey;
    }
    .j{
    grid-area: j;
    background: grey;
    }
    .k{
    grid-area: k;
    background: grey;
    }
    .l{
    grid-area: l;
    background: grey;
    }
    
    }
    a{
    color: skyblue;
    text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }
    nav{
    background-color: grey;
    padding: 10px;
    }
    .valmynd{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    }
    a:visited{
    color:purple;
    }
    .boks{
    grid-gap: 10px;
    }
    img{
    max-width:100%;
    display:block;
    height:auto;   
    }
    .myndaborder{
        border:solid;
    }