.dalkar_2{
    display: grid;
    grid-template-columns: 1fr;
}

.box{
    grid-gap: 10px;
    border-radius: 10px;
}

div{
    padding: 10px;
    margin: 5px;
    border: 1px solid;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "a"
    "b"
    "c"
    "d";
    grid-gap: 5px;
}

.b{
    grid-area: b;
    background: red;
}
.c{
    grid-area: c;
    background: green;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "a b"
    "c c";
    grid-gap: 5px;
}
.a{
    grid-area: a;
    background: yellow;
}

.b{
    grid-area: b;
    background: red;
}
.c{
    grid-area: c;
    background: green;
}
.d{
    grid-area: d;
    background: blue;
}
}

@media screen and (min-width:1000px) {

    .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
         "a b c d";
        grid-gap: 5px;
    }
    .a{
        grid-area: a;
        background: yellow;
    }
    
    .b{
        grid-area: b;
        background: red;
    }
    .c{
        grid-area: c;
        background: green;
    }
    .d{
        grid-area: d;
        background: blue;
    }
    }
    a{
        color: white;
        text-decoration: none;
    }
    nav{
        background-color: black;
        padding: 10px;
    }
    .valmynd{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }