.dalkar_2{
    display: grid;
    grid-template-columns: 1fr;
}
@media screen and (min-width:450px){

    .dalkar_2{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
}

@media screen and (min-width:1000px) {
    .dalkar_2{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.box{
    grid-gap: 10px;
    border-radius: 10px;
}

div{
    padding: 10px;
    margin: 5px;
    border: 1px solid;
}
